/* .supplier {
  padding: 10px;
  color: #61d5df;
}
.by {
  color: black;
}
.profit {
  color: #61d5df;
}
.cat__price {
  padding: 5px;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding-left: 270px;
}

.catalog {
  margin-top: 15px;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: space-between;
  align-content: center;
}
.catalog__product {
  height: 400px;
  flex: 1 300px;
  max-width: 400px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__product--border {
  border: 2px solid #d723dd;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.catalog__photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__title {
  padding-left: 15px;
  padding-right: 10px;
  text-align: justify;
}
.checkbox__btn {
  border: solid;
  margin-top: 15px;
  border-radius: 5px;
  width: 30px;
  size: 20px;
} */

.supplier {
  padding: 10px;
  color: #61d5df;
}
.by {
  color: black;
}
.profit {
  color: #61d5df;
}
.cat__price {
  padding: 5px;
}

.catalog {
  margin-top: 15px;
  /* height: 100vh;
  max-width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  /* overflow-y: hidden; */
}
.catalog__product {
  height: 400px;
  flex: 1 300px;
  max-width: 400px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.catalog__product--highlighted {
  height: 400px;
  flex: 1 300px;
  max-width: 400px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #717fe4;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__product--border {
  border: 2px solid #d723dd;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.catalog__photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__title {
  padding-left: 15px;
  padding-right: 10px;
  text-align: justify;
}
.checkbox__btn {
  border: solid;
  margin-top: 15px;
  border-radius: 10px;
  width: 50px;
  size: 60px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* padding-left: 80px;
  overflow-x: hidden; */
}
.Content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
/* .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} */
/* .god {
  display: flex;
  flex-direction: row;
}
.Content {
  height: 100%;
  width: 100%;
} 
/* .App {
  height: 100%;
  width: 100%;
  padding-left: 40px;
  background-color: #f8f9fa;
} */
