.signupform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 20rem;
  padding-left: 30px;
  margin: 0;
  /* margin: 10rem auto; */
}
.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20rem;
  padding-left: 30px;
  margin: 0;
  /* margin: 10rem auto; */
}

.formbackground {
  background-image: url("https://mk0q365dropshipe482k.kinstacdn.com/wp-content/uploads/2020/08/lasthero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #98a3c7;
  opacity: 0.92 !important;
  z-index: 1;
}
.form_wrapper {
  width: min(400px, 90%);
  height: 375px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  padding: 34px 40px;
  z-index: 2;
  box-shadow: 0 0 12px #6b6b6b;
}
.signup_wrapper {
  width: min(413px, 95%);
  height: 600px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  padding: 34px 30px;
  z-index: 2;
  box-shadow: 0 0 12px #6b6b6b;
}

.loginlogo {
  width: 40px;
}
.memberslog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}
.social__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-top: 5px;
}
.account__login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
.log {
  color: #a3a5a5;
}
