Button {
  all: unset;
  background-color: rgb(49, 195, 231);
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 30px;
  padding: 5px 8px;
  text-transform: capitalize;
  text-align: center;
  border-radius: 5px;
}
