Input {
    all: unset;
    font: 16px ;
    color: rgb(14, 13, 13);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
::placeholder {
    color: rgb(16, 107, 129);
    opacity: 0.7;
    font-size: 16px;
}