.sidenav {
  display: flex;
  flex-direction: column;
  /* width: calc(100% -257px); */
  width: 257px;
  height: 100%;
  margin-right: 4px;
  background-color: #ecedf5;
}
.shipping {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 257px);
  align-content: center;
  margin-top: 10px;
  padding: 15px;

  /* justify-content: space-between; */
}
/* buttton */
.btn {
  width: 240px;
  height: 43px;
  border-radius: 4px;
  border-color: #61d5df;
  background-color: #61d5df;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.ranges {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 60px;
  padding: 15px;
}
.sorting {
  display: flex;
  background-color: #fff;
  padding: 0px;
  padding-top: 10px;
  width: 200px;
  text-align: left;

  position: relative;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  color: #29304b;
  padding: 12px;
  text-transform: capitalize;
}
.sorting__dark {
  background-color: rgb(92, 92, 146);
  color: white;
  padding: 15px;
}
.sorting__light {
  background-color: rgb(143, 143, 206);
  color: white;
  padding: 15px;
}
option {
  background-color: rgb(175, 231, 231);
  font-size: 18px;
}
.as {
  background-color: #badfdf;
  text-decoration: rgb(160, 95, 151);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* blabla */
.reset {
  width: 180px;
  height: 44px;
  padding: 5px 8px;
  /* margin: 10px 15px 0px 0px; */
  display: flex;
  justify-content: center;
  align-self: center;
}
