/* .catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: space-between;
    align-content: center;
}
.wrapper {
    width: 100%;
    height: 100%;
    padding-left: 270px;
} */
