

.catalog__product {
    flex: 1 270px;
    max-width: 270px;
    height: 290px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(202, 82, 218);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.catalog__product:hover {
    border: 2px solid slateblue;
}

.catalog__photo {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2px;
}
.catalog__photo img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.catalog__prices {
    border-top: 2px solid rgb(241, 128, 128);
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.catalog__title {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}