h4 {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Profile,
.Dashboard,
.Orders,
.Store,
.Inventory,
.Transactions {
  width: 100%;
}
