.cart__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  overflow-y: auto;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.quantity-box input {
  margin: 0px;
  /* padding: 0px; */
  /* border: 1px solid black; */
  width: 20px;
  height: 30px;
}
.cart__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
