.cart__container {
  width: 100%;
  /* max-height: 400px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.cart__img {
  width: 260px;
  height: auto;
}
.cart__title {
}
