.App {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  height: 100%;
  /* overflow-y: auto; */
}

.div {
  background-color: blueviolet;
}

.modal {
  width: 900px;
  height: 500px;
  background: #fff;
  display: flex;
  gap: 20px;
  padding: 20px;
}
.modal__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  overflow: hidden;
  z-index: 999999;
}

.modal__catalog__left {
  /* display: flex;
    flex-direction: column;
  
    justify-content: space-between;
    padding: 70px;
    border-radius: 8px;
    background-color: #fbfbfb; */
  width: min(499px, 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
}
.modal__catalog__right {
  flex-direction: column;
  padding-left: 80px;
  justify-content: space-around;
  width: min(656px, 60%);
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 30px; */
}
/* .modal__catalog__name {
    text-align: left;
    text-decoration: rgb(108, 108, 233);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
  } */
.modal__catalog__photo {
  display: flex;
  justify-content: center;
}
.modal__catalog__photo img {
  max-width: 240px;
  max-height: 335px;
}
.modal__catalog__title {
  color: black;
  font-size: 26px;
  text-align: start;
  /* padding-bottom: 80px; */
}
.modal__catalog__description {
  text-align: left;
  margin-top: 20px;
}
.modal__catalog__prices {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 10px;
  font-size: 22px;
  border-radius: 7px;
}
/* lala */
/* .modal__catalog__prices {
    display: flex;
    font-size: 22px;
    gap: 80px;
    list-style: none;
    border-radius: 7px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    background: #fafafa;
    border: 1.5px solid #fff;
    justify-content: space-between;
    padding: 0;
  } */

.modal__close__btn {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  justify-content: flex-end;
  /* justify-items: flex-end; */
  /* padding-left: 200px; */
  /* position: absolute; */
  right: 10px;
  top: 10px;
}
.tabs {
  display: flex;
  gap: 55px;
  margin-top: 20px;
}
.product__details {
  margin-top: 20px;
}
/* .modal__btn {
    display: flex;
    font-size: 40px;
    size: 360px;
    justify-content: flex-end;
  } */
.modal__supplier {
  color: black;
}

.btn {
  width: 170px;
  height: 40px;
  border-radius: 4px;
  border-color: #61d5df;
  background-color: #61d5df;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.god {
  display: flex;
  flex-direction: row;
}
