@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.Nav__Items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav__List {
  color: #fff;
  margin: 10px;
  padding: 5px;
  font-size: 14px;
  font-weight: 800;
  /*font-family: 'Anton', sans-serif;*/
  font-family: -apple-system;
  list-style: none;
}
.Nav__List:hover {
  color: #61d5df;
}

.signup__btn :hover {
  background-color: #61d5df;
  color: #fff;
}
