.Section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Section__Box {
  width: 750px;
  height: 300px;
  background: rgba(36, 41, 62, 0.8);
}

.Section__Logo {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Section__Logo img {
  width: 143px;
}

.Section__Text h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 25px;
}
